<main>
    <h3>
        Product {{product.productName}}
    </h3>
    <div class="col-md-12">
        <form action="/products/edit/{{product.productId}}" method="POST">
            <div class="form-control">
                <label for="Name">Product Name</label>
                <input type="text" name="name" id="Name" value="{{product.productName}}">
            </div>
            <div class="form-control">
                <label for="imageurl">Image url</label>
                <input type="text" name="imageurl" id="imageurl" value="{{product.productImage}}">
            </div>
            <div class="form-control">
                <label for="category">Product Category</label>
                <input type="text" name="category" id="category" value="{{product.productCategory}}">
            </div>
            <div class="form-control">
                <label>Product Stock ?</label>
                <input type="text" name="stock" id="stock" value="{{product.productStock}}">

                {{!-- <input type="radio" name="stock" id="yes_stock" value="{{product.productStock}}">
                <label for="yes_stock">Yes</label> 

                <input type="radio" name="stock" id="no_stock" value="{{product.productStock}}">
                <label for="no_stock">No</label>  --}}

            </div>
            <div class="form-control">
                <label for="productPrice">Product Price</label>
                <input type="number" name="productPrice" id="productPrice" value="{{product.productPrice}}">
            </div>
            <div class="form-control">
                <label for="salePrice">Sale Price</label>
                <input type="number" name="salePrice" id="salePrice" value="{{product.salePrice}}">
            </div>

            <button type="button" class="btn btn-secondary" onclick="goBack()">
                Cancel
            </button>
            <button type="submit" class="btn btn-primary">
                Save
            </button>
        </form>
    </div>

</main>